    Primtive data types and Data Structures

In [1]:
# Checking conditions

cost_of_bag = 12.5
is_bag_expensive = cost_of_bag >= 10
print('Is the bag expensive?', is_bag_expensive)

Is the bag expensive? True

In [10]:
today = 'Wednesday'
another_day = today.replace("Wednes","Mon")

another_day, today
# replacing Wednes with Fri
# they return new object, not just same copy

('Monday', 'Wednesday')

### Strip / Split

In [17]:
today =  '  Never gonna give you up.  never gonna let you down.'
today.strip()

'Never gonna give you up.  never gonna let you down.'

In [20]:
today.split('.')

['  Never gonna give you up', '  never gonna let you down', '']

### Append

In [35]:
fruits = ['berry', 'cherry', 'raspberry']

fruits.append('dates')
fruits

['berry', 'cherry', 'raspberry', 'dates']

### Insert

In [36]:
fruits.insert(2, 'mango')
fruits

['berry', 'cherry', 'mango', 'raspberry', 'dates']

### Remove

In [37]:
fruits.remove('mango')
fruits

['berry', 'cherry', 'raspberry', 'dates']

### Pop

In [38]:
# pop takes the index to be removed
fruits.pop(1)
fruits

['berry', 'raspberry', 'dates']

# <font color = 'red'> Dictionary
                key values pair data structures

In [42]:
person1 = {
    'name' : 'John Doe',
    'age' : 32,
    'sex' : "Male"
}

person1['name']

'John Doe'

The `get` method also accepts a default value which is returned if the key is not present in the dictionary

In [47]:
person1.get('married','NA')

'NA'

In [48]:
person1.get('age')

32

In [51]:
person1['address'] = '1, Us pura'
person1['married']  = True
person1

{'name': 'John Doe',
 'age': 32,
 'sex': 'Male',
 'adress': '1, Us pura',
 'married': True,
 'address': '1, Us pura'}

In [53]:
person2 = person1.copy()
person2, person1

({'name': 'John Doe',
  'age': 32,
  'sex': 'Male',
  'adress': '1, Us pura',
  'married': True,
  'address': '1, Us pura'},
 {'name': 'John Doe',
  'age': 32,
  'sex': 'Male',
  'adress': '1, Us pura',
  'married': True,
  'address': '1, Us pura'})

## While

In [73]:
%time

result = 1
i = 1 

while i <= 10:
    result = result * i
    i  += 1
    print(result)

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 6.91 µs
1
2
6
24
120
720
5040
40320
362880
3628800

In [100]:
line = '*'
max_length = 10 

while len(line) <= max_length:
    print(line)
    line += '*'
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

#### Printing stars

In [87]:
h = int(input("please enter diamond's height:"))

for i in range(h):
    print(" "*(h-i), "*"*(i*2+1))
for i in range(h-2, -1, -1):
    print(" "*(h-i), "*"*(i*2+1))

please enter diamond's height:10
           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
   *****************
    ***************
     *************
      ***********
       *********
        *******
         *****
          ***
           *

#### Factorial without even nmubers

In [88]:
i = 1
result = 1 

while i < 20:
    i += 1
    if i % 2 == 0:
        print(f'Skipping {i}')
        continue
    print('Miltiplying by {}'.format(i))
    result *= i 
    
print(result)

Skipping 2
Miltiplying by 3
Skipping 4
Miltiplying by 5
Skipping 6
Miltiplying by 7
Skipping 8
Miltiplying by 9
Skipping 10
Miltiplying by 11
Skipping 12
Miltiplying by 13
Skipping 14
Miltiplying by 15
Skipping 16
Miltiplying by 17
Skipping 18
Miltiplying by 19
Skipping 20
654729075

## For Loops

In [90]:
for char in 'Monday':
    print(char, end = ' ')

M o n d a y

### Documentations for function

In [92]:
def magic(name : str) -> str:
    '''Just write him hello already'''
    print("Hello ", name)
magic('pushpa')

Hello  pushpa

Help on function magic in module __main__:

magic(name: str) -> str
    Just write him hello already